@media only screen and (min-width: 1300px) {
  #maincontent {
    width: 80%;
  }
  #restaurant-content{
    width: 70%;
  }
}

@media only screen and (max-width: 1200px) {
  #restaurant-details {
    width: 100%;
    text-align: center;
  }
  #restaurant-name {
    text-align: center;
  }
  #restaurant-hours {
    width: 77%;
    clear: both;
    margin: 5px auto;
    display: inline-table;
  }
    #restaurant-content #restaurant-img {
    width: 50%;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {
   #restaurants-list p {
    font-size: 12px;
  }
  #restaurants-list li h1 {
    font-size: 15px;
  }
  #restaurants-list li a {
    font-size: 13px;
  }
  #restaurants-list .restaurant-img {
  max-width: 70%;
  max-height: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  #restaurants-list li p {
    font-size: 13px;
  }
  #restaurants-list li h1 {
    font-size: 18px;
  }
  #restaurants-list li {
    max-width: 400px;
    width: 40%;
  }
  #restaurants-list {
    margin: auto;
  }
  #maincontent, #restaurant-content {
    width: 90%;
  }
  #reviews-list li p {
  font-size: 13px;
  }
  #restaurant-content #restaurant-img {
  width: 60%;
  }
  #map-container {
  margin: 40px auto 10px;
  }
}

@media only screen and (max-width: 700px) {
  #restaurants-list li {
    width: 80%;
    max-width: 400px;
    margin: 10px auto;
    height: 25%;
  }
  #restaurants-list .restaurant-img {
  max-width: 100%;
  }
  #map-container {
    margin: 50px auto 10px;
  }
}


@media only screen and (max-width: 600px) {
  #restaurant-content #restaurant-img {
    width: 70%;
  }
  #restaurant-hours {
    width: 85%;
  }
}

@media only screen and (max-width: 599px) {
#restaurant-content {
  width: 100%;
  margin: auto;
  padding: 0;
}

  #restaurant-content #restaurant-img {
    width: 90%;
  }
  #restaurant-hours {
    width: 90%;
  }
  nav h1 a {
    font-size: 14px;
  }
  .inside #map {
  background-color: #ccc;
  height: 300px;
  width: 80%;
  margin: 80px auto 10px;
  }
}





